readme.rtf
pair pelagiccc_updatedd.docx
code1_trip_based_dyadic_extraction.txt
code2_timestamp-based approach.txt
~$ir pelagiccc_updatedd.docx
~$readme.rtf
GA.jpeg
1 round/
2 round/
cover_letter_ei.docx
declarationStatement (2).docx
highligts.docx
pair pelagic_ei.docx
pair pelagic_ei_final.docx
ports.csv
test_ais.csv